@page
@using Microsoft.Extensions.Localization
@using Syrna.FileManagement.Localization
@model Syrna.FileManagement.Web.Pages.FileManagement.IndexModel
@inject IStringLocalizer<FileManagementResource> L
@{
}
<h1>FileManagement</h1>
<p>@L["SamplePageMessage"]</p>
